### 양수를 입력받고 홀수, 짝수를 판별하는 프로그램을 작성해보세요.

In [ ]:
# '3은 홀수입니다'
# '4는 짝수입니다'

In [4]:
x = eval(input())

3

In [ ]:
# 홀짝 => 숫자를 2로 나눴을 때 나머지가 0 => 짝수, 0아 아니면 => 홀수
#  나머지가 1 => 홀수

In [ ]:
# boolean type
# True, False
# 숫자 : 0아닌 모든값(1), 0
# 자료형 : 아이템이 하나라도 있는 자료형, 빈 자료형([])
# 문자 : 아이템이 하나라도 있는 문자, 빈 문자(null string '')

In [ ]:
# 연산자
# 비교, 논리
# >,<,>=,<=, !=, ==
# and, or

In [ ]:
# 조건문
# if 조건식:
#     참일 때 실행문
# else:
#     거짓일 때 실행문
#      if 조건식2:
#          참일 때 실행문
#      else:
#           거짓일 때 실행문

In [ ]:
# if 조건식1:
#     조건식1이 참일 때
# elif 조건식2:
#     조건식1이 거짓이고 조건식2는 참일 때
# else:
#     조건식1, 조건식2가 모두 거짓일 때

In [ ]:
# 나머지 반환 : %
# 몫 반환 : //

In [5]:
if x%2 == 0:
    # x%2 == 0인 경우 => 짝수인 경우
    print('{}는 짝수입니다.'.format(x))
else:  # x%2 != 0인 경우 => 홀수인 경우
    print('{}는 홀수입니다.'.format(x))

3는 홀수입니다.

In [ ]:
# while 조건:
#     참일 동안 반복하는 실행문

In [6]:
x = eval(input('숫자입력'))

while x <= 0:
    x = eval(input('양수입력'))
    
if x%2 == 0:
# x%2 == 0인 경우 => 짝수인 경우
    print('{}는 짝수입니다.'.format(x))
else:  # x%2 != 0인 경우 => 홀수인 경우
    print('{}는 홀수입니다.'.format(x))

숫자입력-10
양수입력-9
양수입력-7
양수입력0
양수입력12
12는 짝수입니다.

### 점수를 입력 받고 아래와 같이 구간별로 학점을 매겨서 출력하세요.
1) 점수구간

    81점 ~ 100점 = A

    61점 ~ 80점 = B

    41점 ~ 60점 = C

    ~ 40점 = Fail

2) 출력방식 : ' 취득점수 : ??점 /  최종학점 : ?? '

In [8]:
x = eval(input('점수'))

if 81 <= x <= 100:
    grade = 'A'
elif 61 <= x <= 80:
    grade = 'B'
elif 41 <= x <= 60:
    grade ='C'
else:
    grade = 'Fail'
    
print('취득점수 : {}점 / 취득학점 : {}'.format(x, grade))

점수39
취득점수 : 39점 / 취득학점 : Fail

In [12]:
# 조건식으로 사용되는 기준값이 연속된 범위에 연결되서 존재하는 경우
# 시작값을 작성하지 않아도 자동으로 설정됨
x = eval(input('점수'))

if 80 < x < 100:
    grade = 'A'
elif 60 < x:
    grade = 'B'
elif 40 < x:
    grade ='C'
else:
    grade = 'Fail'
    
print('취득점수 : {}점 / 취득학점 : {}'.format(x, grade))

점수40
취득점수 : 40점 / 취득학점 : Fail

### 주민등록번호를 입력받고 아래 조건을 충족하는 조건문&출력문을 작성하세요.

1) 기호(-)까지 입력 받기

2) 성별 구분 숫자를 기준으로 1 또는 3이면 '남자', 2 또는 4이면 '여자'를 출력

In [23]:
# 성별구분숫자 => 인덱싱
jumin_code = input('주민번호')

주민번호111111-1369874

In [14]:
jumin_code

'111111-2369874'

In [15]:
jumin_code.find('-')

6

In [24]:
gender_code = jumin_code[7]

In [20]:
int(1.3)
int('10')
# int('10.3')

ValueError: invalid literal for int() with base 10: '10.3'

In [21]:
# if gender_code == '2' or gender_code == '4':
if int(gender_code)== 2 or int(gender_code) == 4:
    msg = '여자'
else:
    msg = '남자'
    
print(msg)

여자

In [25]:
if gender_code == '2' or '4':
    msg = '여자'
else:
    msg = '남자'
    
print(msg)

여자

In [28]:
tmp = jumin_code.split('-')
tmp

['111111', '1369874']

In [29]:
if tmp[1][0] == '2' or  tmp[1][0] == '4':
    msg = '여자'
else:
    msg = '남자'
    
print(msg)

남자

In [ ]:
# 111111-2369874

In [ ]:
# 기호(-) split =>

### 사용자로부터 달러, 엔, 유로, 위안 금액을 입력받은 후 이를 원으로 변환해서 출력하는 프로그램을 만들어보세요.


< 환율 정보 >

- 1 달러 = 1167 원

- 1 엔 = 1.096 원

- 1 유로 = 1268 원

- 1 위안 = 171 원


< 예시 >

- 사용자 입력 값 : 100 엔

  ( 금액과 통화명 사이에는 공백 하나를 입력해야 합니다.)
  

- 출력 : 109.60 원

  ( 소수점 아래 두 자리까지 표현 )

In [30]:
# 자료형을 사용하지 않는 방법
txt = input()

100 엔

In [31]:
txt

'100 엔'

In [33]:
# split() 기본 구분자 = 공백하나
tmp = txt.split()

In [34]:
tmp[0]

'100'

In [35]:
tmp[1]

'엔'

In [ ]:
# 1 달러 = 1167 원
# 1 엔 = 1.096 원
# 1 유로 = 1268 원
# 1 위안 = 171 원

In [39]:
txt = input()
tmp = txt.split()

if tmp[1] == '달러':
    result = eval(tmp[0])*1167
elif tmp[1] == '엔':
    result = eval(tmp[0])*1.096
elif tmp[1] == '유로':
    result = eval(tmp[0])*1268
else:
    result = eval(tmp[0])*171
    
print('%.2f원' % result)

20 유로
25360.00원

In [40]:
1268*20

25360

In [ ]:
# 자료형을 사용하는 방법

In [41]:
info = {'달러':1167, '엔':1.096, '유로':1268, '위안':171}

In [43]:
info['엔']

1.096

In [44]:
txt = input()
tmp = txt.split()

if tmp[1] == '달러':
    result = eval(tmp[0])*info['달러']
elif tmp[1] == '엔':
    result = eval(tmp[0])*info['엔']
elif tmp[1] == '유로':
    result = eval(tmp[0])*info['유로']
else:
    result = eval(tmp[0])*info['위안']
    
print('%.2f원' % result)

1000 달러
1167000.00원

In [ ]:
# 제어문을 사용하지 않는 방법

In [45]:
txt = input()
tmp = txt.split()

30 위안

In [54]:
txt = input()
tmp = txt.split()
name = tmp[1]
amt = eval(tmp[0])
result = info[name]*amt
print('%.2f원' % result)

100 엔
109.60원

### 5개의 양수로 구성된 리스트를 만들고 나의 행운권이 당첨되었는지 확인해보세요. 

+심화) while문을 이용하여 빈 리스트를 생성하여 번호를 하나씩 입력하며 리스트에 추가하는 방법으로 실행해보세요. 

-------------------------------------------------------------------------

- 조건1) 나의 행운권 번호 : 13

- 조건2) 심화문제의 경우 숫자 5개를 모두 입력했을 때 '숫자 5개를 모두 입력하셨습니다.' 메세지를 출력해주세요.

- 조건3) 당첨 여부에 따라 당첨 메세지와 꽝 메세지를 출력해주세요.

In [ ]:
# 입력 값의 중복이 없다는 가정으로 리스트를 생성하세요.

In [56]:
1 in [10,2,3]

False

In [60]:
# 리스트 길이가 5가 되면 아이템 추가를 중단
#     길이가 5보다 작을 동안 아이템을 계속 추가 => while
# 내 번호가 리스트에 잇는지 확인
a = []
my_num = 13

while len(a) < 5:
    num = eval(input('숫자입력'))
    a.append(num)
    
print('5개 모두 입력하셨습니다.')    
    
if my_num in a:
    print('당첨')
else:
    print('낙첨')

숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
5개 모두 입력하셨습니다.
낙첨

In [61]:
# 입력값의 중복값을 제거하기 위해서는 제어문 추가 X 리스트 => 셋
a = set()
my_num = 13

while len(a) < 5:
    num = eval(input('숫자입력'))
    a.add(num)
    
print('5개 모두 입력하셨습니다.')    
    
if my_num in a:
    print('당첨')
else:
    print('낙첨')

숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력1
숫자입력2
숫자입력3
숫자입력3
숫자입력3
숫자입력3
숫자입력3
숫자입력3
숫자입력4
숫자입력5
5개 모두 입력하셨습니다.
낙첨

### 입력받은 값에 +20을 더한 값을 출력하기.


- 조건1) 입력 값의 범위는 0~255로 가정한다. 


- 조건2) 255를 초과하는 경우 255를 출력하고 0보다 작은 값이되는 경우 0을 출력해야 한다.

In [3]:
# 첫번째 경우
num = eval(input())

if 0 <= num <= 255:
    num += 20    # num = num + 20
elif num > 255:
    num = 255
else:
    num = 0
    
print(num)

-1
0

In [4]:
# 두번째 경우
num = eval(input())

if num > 255:
    num = 255
elif num < 0:
    num = 0
else:
    num += 20

print(num)

0
20

### 점수를 입력 받아 60점 이상일 때 '합격', 60점 미만일 때 '불합격'을 출력하세요.
단, 입력값의 조건을 100 이하의 양수로 설정하여 입력값이 음수 또는 100 보다 큰 양수일 경우 반복해서 입력받는 조건을 추가하세요.

In [6]:
score = eval(input('점수입력 : '))

while score < 0 or score > 100:
    score = eval(input('점수입력 : '))

if score >= 60:
    print('합격')
else:
    print('불합격')

점수입력 : 100
합격

### 아래와 같은 출력화면이 보이게 하는 명령어를 완성해보세요.

In [11]:
num = 0

while num < 10:
    num += 1    # num = num + 1
    print('숫자가 +1 증가하여 %d가 되었습니다.' % num)
    
print('숫자 %d이 되었습니다.'% num)

숫자가 +1 증가하여 1가 되었습니다.
숫자가 +1 증가하여 2가 되었습니다.
숫자가 +1 증가하여 3가 되었습니다.
숫자가 +1 증가하여 4가 되었습니다.
숫자가 +1 증가하여 5가 되었습니다.
숫자가 +1 증가하여 6가 되었습니다.
숫자가 +1 증가하여 7가 되었습니다.
숫자가 +1 증가하여 8가 되었습니다.
숫자가 +1 증가하여 9가 되었습니다.
숫자가 +1 증가하여 10가 되었습니다.
숫자 10이 되었습니다.

In [10]:
num = 1

while num < 10:
#     num = 1
    print('숫자가 +1 증가하여 %d가 되었습니다.' % num)
    num += 1   
    
print('숫자 %d이 되었습니다.'% num)

숫자가 +1 증가하여 1가 되었습니다.
숫자가 +1 증가하여 2가 되었습니다.
숫자가 +1 증가하여 3가 되었습니다.
숫자가 +1 증가하여 4가 되었습니다.
숫자가 +1 증가하여 5가 되었습니다.
숫자가 +1 증가하여 6가 되었습니다.
숫자가 +1 증가하여 7가 되었습니다.
숫자가 +1 증가하여 8가 되었습니다.
숫자가 +1 증가하여 9가 되었습니다.
숫자 10이 되었습니다.

In [2]:
# 반복 : 초기값(값, 초기값 선언위치), 반복조건(조건식, 반복실행문 위치), 반복종료값

숫자가 +1 증가하여 1가 되었습니다.
숫자가 +1 증가하여 2가 되었습니다.
숫자가 +1 증가하여 3가 되었습니다.
숫자가 +1 증가하여 4가 되었습니다.
숫자가 +1 증가하여 5가 되었습니다.
숫자가 +1 증가하여 6가 되었습니다.
숫자가 +1 증가하여 7가 되었습니다.
숫자가 +1 증가하여 8가 되었습니다.
숫자가 +1 증가하여 9가 되었습니다.
숫자가 +1 증가하여 10가 되었습니다.
숫자가 10이 되었습니다.

### 무한루프를 사용하여 다음 조건을 만족하는 반복문을 작성하세요.

- 무한루프 : while문에서 조건식을 작성하지 않고 무조건, 무한히 반복을 실행하는 반복문
    - 조건식 대신 True 입력 (while True : ~~)

- 조건1. 용돈이 될 숫자를 입력 받으세요. ( 간단한 실행을 위해 300~500 정도의 숫자를 입력 )


- 조건2. 과자를 사먹는데 한 번 과자를 사먹는데 돈이 100씩 감소하고 '과자를 사먹습니다' 와 '남은 돈은 OO입니다.'를 차례로 출력합니다.


- 조건3. 돈이 없으면 '돈을 다 썼습니다.'를 출력하고 반복문을 종료하세요.

In [12]:
money = eval(input('용돈입력:'))

while True:
    # 과자 사먹기 : 돈이 100 감소
    print('과자를 사먹습니다.')
    money -= 100  # money = money - 100
    print('남은 돈은 {}입니다.'.format(money))
    if money == 0:
        print('돈을 다 썼습니다.')
        break
        
# print('돈을 다 썼습니다.')

용돈입력:400
과자를 사먹습니다.
남은 돈은 300입니다.
과자를 사먹습니다.
남은 돈은 200입니다.
과자를 사먹습니다.
남은 돈은 100입니다.
과자를 사먹습니다.
남은 돈은 0입니다.
돈을 다 썼습니다.

In [13]:
money = eval(input('용돈입력:'))

while True:
    # 과자 사먹기 : 돈이 100 감소
    print('과자를 사먹습니다.')
    money -= 100  # money = money - 100
    print('남은 돈은 {}입니다.'.format(money))
    if not money:
        print('돈을 다 썼습니다.')
        break
        
# print('돈을 다 썼습니다.')

용돈입력:200
과자를 사먹습니다.
남은 돈은 100입니다.
과자를 사먹습니다.
남은 돈은 0입니다.
돈을 다 썼습니다.

### 학생들의 점수를 나타내는 리스트에서 50점 이상의 점수들의 총합을 출력한다.
- 조건1. while반복문 사용
- 조건2. 리스트의 아이템에 하나씩 접근하는 것은 pop 메서드를 사용한다.

In [20]:
score_list = [10,20,50,60]
# 110

In [18]:
score_list.pop()

60

In [19]:
score_list

[10, 20, 50]

In [ ]:
total = 0

# 리스트 길이 = 0 
while len(score_list) > 0:   # len(score_list)
    score = score_list.pop()
    if score >= 50:
        total += score    # total = total + score

In [ ]:
total = 0

# 리스트가 빈 리스트가 될 때
while score_list:   
    score = score_list.pop()
    if score >= 50:
        total += score    # total = total + score

### 학생들의 점수를 나타내는 리스트에서 아래의 구간으로 학점을 매기고, 각 학점별로 몇 명이 있는지를 적합한 데이터 타입으로 저장하세요.

- 점수구간

    81점 ~ 100점 = A

    61점 ~ 80점 = B

    41점 ~ 60점 = C

    ~ 40점 = Fail

In [21]:
# 자료형
# 학점별로 점수를 개별 리스트로 저장
# 리스트를 활용하여 학점별 학생 수를 구하고 딕셔너리타입으로 저장
scores = [90, 89, 83, 61, 69, 77, 75, 64, 45, 56, 50, 10, 20]

In [23]:
# 자료형의 아이템에 직접 접근할 수 있는 반복문
a = []
b = []
c = []
f = []

for score in scores:
    if score > 80:
        a.append(score)
    elif score > 60:
        b.append(score)
    elif score > 40:
        c.append(score)
    else:
        f.append(score)

In [24]:
a,b,c,f

([90, 89, 83], [61, 69, 77, 75, 64], [45, 56, 50], [10, 20])

In [25]:
result = {'A':len(a), 'B':len(b), 'C':len(c),'Fail':len(f)}
result

{'A': 3, 'B': 5, 'C': 3, 'Fail': 2}

In [26]:
# 자료형을 사용하지 않은 방법
a = 0
b = 0
c = 0
f = 0

for score in scores:
    if score > 80:
        a += 1
    elif score > 60:
        b += 1
    elif score > 40:
        c += 1
    else:
        f += 1

In [27]:
a,b,c,f

(3, 5, 3, 2)

### 아래와 같이 학생들의 점수가 저장된 리스트를 생성하고 각 학생의 합격 여부를 확인하세요.


조건1. 점수가 60점 이상일 때 합격, 미만일 때 불합격

조건2. 출력양식 = '1번 학생은 (합격)입니다.'

▶ 기본. 학생의 번호를 변수를 이용해서 생성

▶ 응용. 학생의 번호는 range 함수를 이용해서 생성

▶ 소개해줄 내용: 내장함수를 이용해서 생성

In [28]:
score_list = [90, 45, 77, 61, 50, 40]

In [32]:
# 변수를 이용해서 번호 생성
no = 1
# no = 0
for score in score_list:
#     no += 1
    if score >= 60:
        print('{}번 학생은 {}, 합격'.format(no, score))
    else:
        print('{}번 학생은 {}, 불합격'.format(no, score))
    no += 1

1번 학생은 90, 합격
2번 학생은 45, 불합격
3번 학생은 77, 합격
4번 학생은 61, 합격
5번 학생은 50, 불합격
6번 학생은 40, 불합격

In [35]:
# range함수를 이용해서 학생 번호 생성
for i in range(5):
    print(i)

1
2
3
4

In [36]:
score_list

[90, 45, 77, 61, 50, 40]

In [43]:
for i in range(len(score_list)):
#     print(i, score_list[i])
    if score_list[i] >= 60:
        print('{}번 학생은 {}, 합격'.format(i+1, score_list[i]))
    else:
        print('{}번 학생은 {}, 불합격'.format(i+1, score_list[i]))

1번 학생은 90, 합격
2번 학생은 45, 불합격
3번 학생은 77, 합격
4번 학생은 61, 합격
5번 학생은 50, 불합격
6번 학생은 40, 불합격

In [45]:
# enumerate() : 리스트의 아이템을 직접 접근하면서 인덱스 번호를 함께 생성할 수 있는 함수
for i in enumerate([10,20,30]):
    print(i)

(0, 10)
(1, 20)
(2, 30)

In [48]:
for idx, value in enumerate([10,20,30], 1):
    print(idx, value)

1 10
2 20
3 30

In [49]:
score_list

[90, 45, 77, 61, 50, 40]

In [52]:
for no, score in enumerate(score_list, 1):
    if score >= 60:
        print('{}번 학생은 {}, 합격'.format(no, score))
    else:
        print('{}번 학생은 {}, 불합격'.format(no, score))

1번 학생은 90, 합격
2번 학생은 45, 불합격
3번 학생은 77, 합격
4번 학생은 61, 합격
5번 학생은 50, 불합격
6번 학생은 40, 불합격

### 구구단을 출력하는 프로그램을 작성해보세요.

In [57]:
for x in range(2,10):
    for y in range(1,10):
        print('{}*{}={}'.format(x,y,x*y), end='  ')
        
    print()
    print()

2*1=2  2*2=4  2*3=6  2*4=8  2*5=10  2*6=12  2*7=14  2*8=16  2*9=18

3*1=3  3*2=6  3*3=9  3*4=12  3*5=15  3*6=18  3*7=21  3*8=24  3*9=27

4*1=4  4*2=8  4*3=12  4*4=16  4*5=20  4*6=24  4*7=28  4*8=32  4*9=36

5*1=5  5*2=10  5*3=15  5*4=20  5*5=25  5*6=30  5*7=35  5*8=40  5*9=45

6*1=6  6*2=12  6*3=18  6*4=24  6*5=30  6*6=36  6*7=42  6*8=48  6*9=54

7*1=7  7*2=14  7*3=21  7*4=28  7*5=35  7*6=42  7*7=49  7*8=56  7*9=63

8*1=8  8*2=16  8*3=24  8*4=32  8*5=40  8*6=48  8*7=56  8*8=64  8*9=72

9*1=9  9*2=18  9*3=27  9*4=36  9*5=45  9*6=54  9*7=63  9*8=72  9*9=81

### 1부터 20까지의 숫자가 저장된 리스트를 생성하고 홀수/짝수를 분리하여 저장한 새로운 리스트 2개를 출력해보세요.


- 조건. 1~20의 숫자는 타이핑하여 생성하지 않는다.

In [59]:
even = []
odd = []

for i in list(range(1, 21)):
    if i%2 == 0:
        even.append(i)
    else:
        odd.append(i)
        
print(even, odd)
result = {'even' : even, 'odd':odd}
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20] [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

{'even': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 'odd': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]}

### 아래 문자열에서 리스트에 저장된 모음이 있다면 모두  #로 바꿔보세요.

A = 'Life is short, you need python'

a = ['a','e','i','o','u']

In [76]:
# replace()
txt = 'Life is short, you need python'

In [67]:
con = ['a','e','i','o', 'u']
con = list('aeiou')
con

['a', 'e', 'i', 'o', 'u']

In [65]:
txt2 = txt.replace('a', '#')
txt2 = txt2.replace('e', '#')
txt2 = txt2.replace('i', '#')
txt2 = txt2.replace('o', '#')
txt2 = txt2.replace('u', '#')

In [66]:
txt2

'L#f# #s sh#rt, y## n##d pyth#n'

In [69]:
txt

'Life is short, you need python'

In [72]:
con

['a', 'e', 'i', 'o', 'u']

In [73]:
mark = ['#', '$','%','&','*']

In [77]:
txt

'Life is short, you need python'

In [78]:
for mo, ma in zip(con, mark):
    txt = txt.replace(mo, ma)

In [79]:
txt

'L%f$ %s sh&rt, y&* n$$d pyth&n'

In [70]:
for i in con:
    txt = txt.replace(i, '#')

In [71]:
txt

'L#f# #s sh#rt, y## n##d pyth#n'

In [ ]:
txt = 'Life is short, you need python'
con = ['a','e','i','o', 'u']