### 아래와 같은 문자열을 아이템으로 가지는 리스트를 이용하여 다음과 같은 문자열을 출력하시오.

- 아이템 : 'Life', 'is', 'too', 'short', 'you', 'need', 'python'

- 출력문 : you too

- 조건
    - 기본 : 아이템을 입력하여 자료형을 선언
    - 심화 : 메서드를 사용하여 아이템을 입력하지 않는 방식으로 선언

In [1]:
list('abcd')

['a', 'b', 'c', 'd']

In [4]:
'abc,bddc/dd'.split(',')

['abc', 'bddc/dd']

In [5]:
list('Lifeistooshortyouneedpython')

['L',
 'i',
 'f',
 'e',
 'i',
 's',
 't',
 'o',
 'o',
 's',
 'h',
 'o',
 'r',
 't',
 'y',
 'o',
 'u',
 'n',
 'e',
 'e',
 'd',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [7]:
# ' '
'Lifeistooshortyouneedpython'.split(',')

['Lifeistooshortyouneedpython']

In [8]:
list1 = [ 'Life', 'is', 'too', 'short', 'you', 'need', 'python']
list2 = 'Life#is#too#short#you#need#python'.split('#')

In [10]:
list2

['Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [13]:
list2[-3] + ' ' + list2[2]

'you too'

In [14]:
# padding : 
print(list2[-3], list2[2])

you too

### 위 리스트의 길이를 구하세요

In [15]:
len(list2)

7

### 위 리스트의 첫번째 아이템에 길이를 추가하세요

- 결과   
> [7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [17]:
list1[0] = len(list1)

In [18]:
list1

[7, 'is', 'too', 'short', 'you', 'need', 'python']

### 리스트 아이템 추가

- 리스트.append() : 하나의 아이템을 마지막에 추가
- 리스트.extend() : 여러개의 아이템을 마지막 추가
- 리스트.insert(idx, v) : 지정된 위치에 아이템을 추가
- 리스트1 + 리스트2 : 순서대로 아이템이 추가

In [22]:
a = [1]

In [23]:
a.append(2)

In [24]:
a

[1, 2]

In [26]:
a.append([10])
a

[1, 2, [10], [10]]

In [28]:
a[2][0]

10

In [29]:
a.extend([100])
a

[1, 2, [10], [10], 100]

In [21]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [19]:
# 위치를 지정하여 리스트의 아이템 추가
# 리스트.insert(idx, value)
list2.insert(0, len(list2))

In [20]:
list2

[7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [33]:
print('test', 'test', end='')

test test,

### 아래와 같이 크기 순서가 없는 리스트를 만들고 내림차순 정렬로 바꿔보세요.


- 예시 [1, 4, 9, 2, 6, 10]  
- 결과 [10, 9, 6, 4, 2, 1]

In [37]:
list3 = [1,4,7,2,10]

In [38]:
# sort() : 기본동작은 오름차순
list3.sort()

In [40]:
list3.reverse()

In [41]:
list3

[10, 7, 4, 2, 1]

In [42]:
# sort(reverse=False)
list3 = [1,4,7,2,10]
list3.sort(reverse=True)
list3

[10, 7, 4, 2, 1]

### 1 ~ 10 까지의 정수를 아이템으로 가지는 리스트를 만들고 홀수 값인 아이템을 삭제해보세요.

- 예시  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]  
      
- 결과 [2, 4, 6, 8, 10]

In [43]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]

In [46]:
a[0] = 10

In [48]:
a[0] = 1

In [51]:
del a[::2]

In [52]:
a

[2, 4, 6, 8, 10]

### 아래와 같은 다차원 딕셔너리를 만들고 제시한 값을 출력해보세요.

    {'a' : [1, 2, 3], 'b' : 100, 'c' : {'key1' : ['파인애플', '포도', '바나나'], 'key2' : (55, 66)}}
    
* 3 출력하기

* ['파인애플', '포도', '바나나'] 출력하기

* 포도 출력하기

* 55 출력하기

In [56]:
d1 = {'a' : [1, 2, 3], 'b' : 100, 'c' : {'key1' : ['파인애플', '포도', '바나나'], 'key2' : (55, 66)}}

In [57]:
d1

{'a': [1, 2, 3],
 'b': 100,
 'c': {'key1': ['파인애플', '포도', '바나나'], 'key2': (55, 66)}}

In [66]:
# 3 출력하기
print(d1['a'][2])
# ['파인애플', '포도', '바나나'] 출력하기
print(d1['c']['key1'])
# 포도 출력하기
print(d1['c']['key1'][1])
# 55 출력하기
print(d1['c']['key2'][0])

3
['파인애플', '포도', '바나나']
포도
55

In [55]:
# print 파라미터
# sep : 두 개 값 이상 출력 시 사이값(기본:공백하나)
# end : 마지막 값 뒤에 출력값 (기본:\n)
print('test', 'test', sep=',')

test,test

### 아래와 같은 딕셔너리를 생성하고 해당 딕셔너리의 value 중 최소값을 구하여 형식에 맞게 출력하세요.

- 생성 딕셔너리 
> {'A':9, 'B':80, 'C':70}

- 조건1. 생성한 딕셔너리에 " 'D' : 20, 'E' : 100, 'F' : 10  " 아이템 3개를 추가하세요.

- 조건2. key 'A'의 값을 9 에서 90 으로 변경하세요.

- 조건3. '최소 값 10을 가진 key는 F입니다.'로 포맷팅을 사용하여 출력하고 10을 포맷팅 값으로 사용하세요.

- 조건4. 최소 값은 딕셔너리에 속한 내장함수와 파이썬 내장함수를 모두 사용하여 구해보세요.

In [67]:
d2 = {'A':9, 'B':80, 'C':70}

In [ ]:
# 조건1. 생성한 딕셔너리에 " 'D' : 20, 'E' : 100, 'F' : 10 " 아이템 3개를 추가하세요.
# 딕셔너리 타입 아이템 추가
# 1. 새로운 key 인덱싱 문법으로 새로운 값 할당 : d['key'] = x
# 2. 딕셔너리 메서드 : d.update({k:v. k1:v1})

In [68]:
# d2['D'] = 20
d2.update({'D':20, 'E':100, 'F':10})
d2

{'A': 9, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [75]:
# 조건2. key 'A'의 값을 9 에서 90 으로 변경하세요.
# 딕셔너리 타입의 아이템 값 조회/참조/가져오기
# 인덱싱 기호 : d[key] => 새로운 값으로 수정 가능
# 딕셔너리 타입 메서드 : d.get(key) => 새로운 값으로 수정, 삭제
d2['A'] = 90
# d2.get('A')

In [76]:
d2

{'A': 90, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [ ]:
# . '최소 값 10을 가진 key는 F입니다.'로 포맷팅을 사용하여 출력하고 
# 10을 포맷팅 값으로 사용하세요.
# 최소 값 => 딕셔너리 타입의 values => 최소값
# 출력 => 포맷팅

In [ ]:
# 딕셔너리 타입의 values 
# d.keys()
# d.values()
# d.items()

In [79]:
sum(d2.values())

370

In [78]:
min(d2.values())

10

In [86]:
# 출력 => 포맷팅
x = min(d2.values())
'최소 값 {}을 가진 key는 F입니다'.format(x)

'최소 값 10을 가진 key는 F입니다'

### 위의 딕셔너리를 출력했을 때 아래와 같이 보여지게 작성해보세요.        
> [('A', 90), ('B', 80), ('C', 70), ('D', 20), ('E', 100), ('F', 10)]

In [81]:
d2

{'A': 90, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [83]:
type(d2.items())

dict_items

In [85]:
type(list(d2.items()))

list

### 아래의 표를 적합한 데이터타입을 선택하여  'snack'이라는 변수로 저장하세요.

<img src="딕셔너리문제_1.png" width="250" height="150" align="left"/>

In [87]:
snack = {'마가레뜨':2000, '버터와플':2300, '다이제':2500}

In [88]:
len(snack)

3

### 위에서 생성한 자료형에 아래 아이템을 추가하세요.

>   제품명 : 꼬북칩, 가격 : 1800

In [89]:
snack['꼬북칩'] = 1800
snack

{'마가레뜨': 2000, '버터와플': 2300, '다이제': 2500, '꼬북칩': 1800}

### '마가레뜨'의 가격을 3000 으로 수정하세요.

In [91]:
snack['마가레뜨'] = 3000
snack

{'마가레뜨': 3000, '버터와플': 2300, '다이제': 2500, '꼬북칩': 1800}

### '꼬북칩' 아이템을 삭제하세요.

In [93]:
snack['꼬북칩'] = 0
snack

{'마가레뜨': 3000, '버터와플': 2300, '다이제': 2500, '꼬북칩': 0}

In [94]:
del snack['꼬북칩']

In [95]:
snack

{'마가레뜨': 3000, '버터와플': 2300, '다이제': 2500}

### 위의 자료형에 아래 모든 아이템을 한 번에 추가하세요.
> {'월드콘': 2500, '돼지바': 500, '빙수바': 1500, '스크류바' : 900}

In [96]:
snack.update({'월드콘': 2500, '돼지바': 500, '빙수바': 1500, '스크류바' : 900})

In [97]:
snack

{'마가레뜨': 3000,
 '버터와플': 2300,
 '다이제': 2500,
 '월드콘': 2500,
 '돼지바': 500,
 '빙수바': 1500,
 '스크류바': 900}

In [98]:
len(snack)

7

In [ ]:
# 리스트 자료형와 딕셔너리 자료형 호환가능
# snack.update([('월드콘', 2500), ('돼지바', 1500)])

### 모든 과자의 가격 총합과 평균 가격을 구하고 아래와 같이 출력하세요.

- 결과
> 총 가격 : 13000원 <br>
> 평균 가격 : 1743원 (소수점 첫번째 자리에서 반올림하여 정수형으로 출력)

In [102]:
# 총 가격
# 가격 => 딕셔너리의 value
total = sum(snack.values())

In [103]:
# 평균 가격 => 총합 / 자료형길이(아이템개수)
# 1886
avg = total / len(snack)
avg

1885.7142857142858

In [104]:
print('총 가격 : %d원' % total)
print('평균 가격 : %.0f원' % avg)

총 가격 : 13200원
평균 가격 : 1886원

In [105]:
print('총 가격 : {}원'.format(total) )
print('평균 가격 : {}원'.format(round(avg)))

총 가격 : 13200원
평균 가격 : 1886원

### 한 반의 학생에 대해 혈액형 별 인원 정보를 자료형에 저장한 후 이 반의 총 학생 수를 구하고 '총인원'으로 아이템을 추가하세요.
- 정보 : A형 14명, B형 10명, AB형 18명, O형 20명

In [106]:
class_a = {'A':14, 'B':10, 'AB':18, 'O':20}

In [109]:
# 총인원
# 인원 값 => value
class_a['total'] = sum(class_a.values())

In [110]:
class_a

{'A': 14, 'B': 10, 'AB': 18, 'O': 20, 'total': 62}

### 위의 정보에서 RH- 혈액형인 학생 3명의 정보를 추가하고 총인원도 업데이트 하세요.

In [111]:
class_a['RH-'] = 3

In [112]:
class_a

{'A': 14, 'B': 10, 'AB': 18, 'O': 20, 'total': 62, 'RH-': 3}

In [115]:
class_a.values()

dict_values([14, 10, 18, 20, 127, 3])

In [114]:
# total 아이템을 삭제하지 않고 값만 수정
class_a['total'] = sum(class_a.values())
class_a

{'A': 14, 'B': 10, 'AB': 18, 'O': 20, 'total': 127, 'RH-': 3}

In [120]:
# values 값에서 추출
list(class_a.values())[:4]

[14, 10, 18, 20]

In [121]:
list(class_a.values())[-1]

3

In [126]:
tmp1 = sum(list(class_a.values())[:4] + [list(class_a.values())[-1]])

In [127]:
# 딕셔너리에서 추출
# a,b,ab,o,rh-
tmp2 = class_a['A']+class_a['B']+class_a['AB']+class_a['O']+class_a['RH-']

In [129]:
class_a['total'] = tmp2

In [130]:
class_a

{'A': 14, 'B': 10, 'AB': 18, 'O': 20, 'total': 65, 'RH-': 3}

In [131]:
# total 아이템을 삭제하고 다시 추가
del class_a['total']
class_a

{'A': 14, 'B': 10, 'AB': 18, 'O': 20, 'RH-': 3}

In [132]:
class_a['total'] = sum(class_a.values())
class_a

{'A': 14, 'B': 10, 'AB': 18, 'O': 20, 'RH-': 3, 'total': 65}

### set
- {} / 빈 셋타입을 생성할 때는 반드시 함수를 사용: set()
- 중복값 제거 필터용
- 집합 연산 : 교집합, 차집합, 합집합
- 인덱싱 X : 아이템의 순서가 없다. => 필터링으로 사용한 후 리스트 등으로 형변환 필요

In [134]:
# s1 = {}
s1 = set()
type(s1)

set

In [135]:
user_id = [1,1,1,1,1,1,1,2,3,4,5,5,6,6,6,6,7,7,7,7,7,7]

In [138]:
s1 = set(user_id)

In [137]:
user_id2 = [8,8,8,8,8,9,9,9,6,6,5,4,4,1,11,11]

In [139]:
s2 = set(user_id2)

In [ ]:
# 교집합
# 연산자 : &
# 메서드 : intersection

In [140]:
s1 & s2

{1, 4, 5, 6}

In [141]:
s1.intersection(s2)

{1, 4, 5, 6}

In [ ]:
# 합집합
# 연산자 : |
# 메서드 : union

In [142]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [143]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [ ]:
# 차집합
# 연산자 : -
# 메서드 : difference

In [144]:
s1 - s2

{2, 3, 7}

In [145]:
s2 - s1

{8, 9, 11}

In [146]:
s1.difference(s2)

{2, 3, 7}

In [147]:
s2.difference(s1)

{8, 9, 11}

### tuple

- (,) : 아이템이 하나만 있을 경우에도 쉼표를 작성해야한다.
- 소괄호는 생략 가능
- 아이템이 수정, 삭제 될 수 없다.

In [148]:
type((1))

int

In [149]:
type((1,))

tuple