### 화면에 Welcome to 'python world' 를 출력하세요.

- 파이썬 문자 타입
    - 한 줄 짜리 : '', ""
    - 여러 줄 짜리 : '''' ''', """ """"

In [2]:
# 문자 타입 안에서 문법 기호를 사용하는 경우
# 1. 서로 다른 기호 사용
# 2. 이스케이프 코드(\) 사용 
print("Welcome to 'python world'")

Welcome to 'python world'

In [ ]:
print('Welcome to \'python world\'')

### 문자열에서 \n 과 \t의 차이점을 설명하세요.

In [ ]:
# \n : 줄바꿈 기호
# \t : 탭(스페이스 4번)

In [5]:
a = '줄바꿈 \n 입니다'

In [7]:
# 값, 변수가 셀의 가장 마지막 줄에 입력되어 있어야 화면에서 볼 수 있다.
a

'줄바꿈 \n 입니다'

In [6]:
print(a)

줄바꿈
 입니다

In [4]:
print('줄바꿈 \n 입니다')

줄바꿈
 입니다

### 문자열 'hello world'의 길이를 출력할 수 있는 코드와 예상 길이를 작성하세요.

- 문자열 길이 = 문자 타입의 아이템 개수
    - len(x) : x는 문자, 리스트, 셋, 튜플, 딕셔너리 .. / 숫자 X

In [8]:
len(100)

TypeError: object of type 'int' has no len()

In [9]:
len('100')

3

In [10]:
# 데이터 타입 확인 : type()
type('100')

str

In [11]:
type(100)

int

### 문자열 'hello world'에서 w의 인덱스 번호를 반환하는 메서드를 이용하여 값을 출력하세요.

- 문자열 메서드 : 특정 아이템의 위치를 찾는 메서드(find)
    - 파이썬 내장 함수 vs 특정 타입의 메서드
        - 파이썬 내장 함수 : 단독 사용(len, type, print ...)
        - 특정 타입의 메서드 : 문자타입데이터.find(문자아이템)

In [12]:
'hello world'.find('w')

6

In [14]:
txt = 'hello world'
print(type(txt))
txt.find('w')

<class 'str'>

6

In [ ]:
# 인덱싱 => 대상[]
# 특정 위치 하나의 값을 참조/반환/가져오기
# 슬라이싱 => 대상[처음:마지막:간격]
# 연속된 범위에 있는 여러 개의 값을 참조(하나, 홀수번째, 짝수번째)
# 마지막 인덱스 번호는 포함하지 않는다.

### 문자열 'hello world'에서 'world'만 슬라이싱하여 추출하세요.

In [16]:
txt = 'hello world'
txt.find('w')

6

In [18]:
txt[-1]

'd'

In [20]:
txt[6:]

'world'

### 아래 조건을 만족하여 문자열을 만들고 원하는 값을 추출하세요.
- 조건1. 변수 h에 문자열 hello를 저장
- 조건2. 변수 p에 문자열 python을 저장
- 조건3. 변수 h,p를 사용하여 hello python(중간 공백 있음) 문장을 완성
- 조건4. 조건3에서 완성된 문자열에서 hello만 추출

In [21]:
h = 'hello'
p = 'python'

In [22]:
h * p

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
h * 2

'hellohello'

In [24]:
h + 2

TypeError: can only concatenate str (not "int") to str

In [28]:
txt2 = h + ' ' + p
txt2.find('o')

4

In [30]:
txt2[:5]

'hello'

###  '20190517토요일맑음' 이라는 문장을 키보드로 입력 받고 각각 날짜, 요일, 날씨 변수에 해당하는 값을 할당하세요. 그리고 아래 출력양식에 맞춰서 출력합니다.

In [15]:
# 출력양식

날짜 : 20190517
요일 : 토요일
날씨 : 맑음

In [31]:
msg = input()

20190517토요일맑음

In [32]:
msg.find('7')

7

In [36]:
day = msg[:8]
day2 = msg[8:11]
weather = msg[11:]

### 문자열 포맷팅
- %
- format 메서드

In [37]:
'%d' % 123.4

'123'

In [38]:
'%d & %d' % (123, 456)

'123 & 456'

In [39]:
'{}'.format('test')

'test'

In [40]:
'{1} & {0}'.format('test', 100)

'100 & test'

### 아래 문장에 대해 조건을 만족하는 포맷팅을 작성하세요.

"날짜 : 2019-05-17 / 출석률 : 81%"

* 전달하는 값 : 날짜, 출석률
* 출석한 학생 수 : 21명
* 총 학생 수 : 26명
* 출석률은 소수점 첫번째 자리에서 반올림 적용

In [41]:
rate = 21/26
rate

0.8076923076923077

In [42]:
rate*100

80.76923076923077

In [44]:
'날짜 : %s / 출석률 : %d%% ' % ('2019-05-17', rate*100)

'날짜 : 2019-05-17 / 출석률 : 80% '

In [43]:
'날짜 : %s / 출석률 : %0.0f%% ' % ('2019-05-17', rate*100)

'날짜 : 2019-05-17 / 출석률 : 81% '

In [49]:
'날짜 : {} / 출석률 : {:.0f}% '.format('2019-05-17', rate*100)

'날짜 : 2019-05-17 / 출석률 : 81% '

### 아래 두 가지 경우를 구현해주세요.
< 문자타입 >
- a:b:c:d => a#b#c#d

- abcd => a/d/c/d

In [50]:
txt1 = 'a:b:c:d'
txt2 = 'abcd'

In [51]:
# 문자열.replace(old, new)
txt1.replace(':', '#')

'a#b#c#d'

### 자주 쓰는 문자열 메서드
- 문자.함수()
- upper, lower, strip, split, count

In [53]:
# join
# 추가할문자.join(대상문자열)
'/'.join(txt2)

'a/b/c/d'

### 1234A5959 를 A59591234으로 수정해보세요.

In [55]:
txt = '1234A5959'
txt[0] = 'a'

TypeError: 'str' object does not support item assignment

In [60]:
'a' == 'A'

False

In [62]:
txt.find('A')

4

In [65]:
txt = '1234A5959'
a = txt[:4]
b = txt[4]
c = txt[5:]

In [67]:
txt2 = b+c+a

### 아래의 전화번호에서 '-' 기호를 제거하고 공백으로 출력해보세요.

phone = 010-111-0000

In [71]:
'010--111-0000'.replace('--', ' ')

'010 111-0000'

### 'abcd99aE45a' 에서 소문자 a를 대문자 A로 변경해보세요.

In [72]:
'abcd99aE45a'.upper()

'ABCD99AE45A'

In [75]:
a = 'abcd99aE45a'
a.replace('a', 'A')

'Abcd99AE45A'

In [76]:
a

'abcd99aE45a'

### 홍길동의 시험 성적 평균을 구하세요.

         |   영어 80점   |   국어 72점   |    수학 90점   |    사회 66점   |
         
         
* 변수를 사용해서 과목의 평균을 구해보세요.
* 출력 양식 : <br>
총 점수 =  308점 <br>
평균 점수 = 77점

In [90]:
e = 80
k = 72
m = 90
s = 66

In [91]:
# 여러 개의 값을 가진 여러 개의 변수 한 줄에 선언하기
e,k,m,s = 80, 72, 90, 66

In [92]:
total = e+k+m+s
avg = total/4

In [94]:
# 총 점수 = 308점 
# 평균 점수 = 77점
# 소수점 없애기 : int, %format, round()
txt = '''총 점수 = {}점
평균 점수 = {}점'''
print(txt.format(total, round(avg)))

총 점수 = 308점
평균 점수 = 77점

### 반지름이 7인 원의 넓이를 구하세요.

- 계산식 : 원 넓이 = 반지름 제곱 x 3.14

- 반지름, 원넓이는 모두 변수 사용
- 출력 양식 <br>
반지름 : 3 <br>
원 넓이 : 27 (소수점 없는 정수형 값으로 출력하되 반올림 적용)

In [95]:
r = 7
s = (r**2)*3.14

In [97]:
r
s

153.86

In [99]:
print('''반지름 : {} 
원 넓이 : {}'''.format(r,s))

반지름 : 7
원 넓이 : 153.86

In [100]:
print('''반지름 : {} 
원 넓이 : {:.0f}'''.format(r,s))

반지름 : 7
원 넓이 : 154

In [101]:
print('''반지름 : %d 
원 넓이 : %.0f''' % (r,s))

반지름 : 7
원 넓이 : 154

In [102]:
print('''반지름 : {} 
원 넓이 : {}'''.format(r,round(s)))

반지름 : 7
원 넓이 : 154

In [103]:
s

153.86

In [104]:
print('''반지름 : {} 
원 넓이 : {}'''.format(r,round(s,1)))

반지름 : 7
원 넓이 : 153.9

### 숫자 연산자를 사용하여 입력받은 수의 제곱근과 세제곱을 출력하세요.

In [77]:
# 파이썬 지수 제곱 : **
2 * 3

6

In [78]:
2 ** 3

8

In [79]:
# input()함수 : 입력받은 값을 기본적으로 문자 타입으로 저장
x = input()
type(x)

3

str

In [ ]:
# eval() : 문법 기호를 기준으로 적절한 파이썬 데이터 타입으로 변환
# int() : 정수형 형변환 함수

In [84]:
x = eval(input())
type(x)

'test'

str

In [86]:
x = int(input())
type(x)

3

int

In [88]:
x = eval(input())
print(x**(1/2))
print(x**(1/3))

9
3.0
2.080083823051904

In [ ]:
# % : 나머지만 반환
# // : 몫만 반환